@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display&display=swap');

/* HEADER */

header {
    background-color: #ffffff;
    padding: 25px 0px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .home {
    grid-column: 1/2;
    text-align: right;
    
}

nav a {
    max-width: 100%;
    color: #242333;
    text-decoration: none;
    padding: 50px;
    font-family: "oswald";
    font-size:x-large;
  
}
nav a:hover {
  color: #242333;
  text-decoration: underline;
  text-decoration-color: #EDD818;
}


/* FOOTER STUFF */

footer {
    background-color: #ffffff;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer h3 {
    color:#242333;
    font-family: "oswald";
  }
  footer a {
    color: #242333;
    text-decoration: none;
  }
  footer a:hover {
    color: #242333;
    text-decoration: underline;
    text-decoration-color: #EDD818;
  }
  footer .social img {
    padding-top: 15px;
  }

/* BODY STUFFF */
body p {
    font-family: "PlayFair"
}

body {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1400px;
    text-align: left;
    margin: 0 15%;
    font-family: "Oswald";
    color:#242333;
}

.slideshow {
    text-align: center;
    grid-column: 1/4;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.updates {
    grid-column: 1/4;
}
footer img {
    max-width: 100%;
}