@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display&display=swap');

/* HEADER */

header {
    background-color: #ffffff;
    padding: 25px 0px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}

header nav .home {
    grid-column: 1/2;
    text-align: right;
}

nav a {
    max-width: 100%;
    color: #242333;
    text-decoration: none;
    padding: 50px;
    font-family: "oswald";
    font-size:x-large;
  
}
nav a:hover {
  color: #242333;
  text-decoration: underline;
  text-decoration-color: #EDD818;
}


/* FOOTER STUFF */

footer {
  background-color: #ffffff;
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer h3 {
  color:#242333;
  font-family: "oswald";
}
footer a {
  color: #242333;
  text-decoration: none;
}
footer a:hover {
  color: #242333;
  text-decoration: underline;
  text-decoration-color: #EDD818;
}
footer .social img {
  padding-top: 15px;
}

/* BODY STUFFF */


body {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1400px;
    text-align: center;
    margin: 0 15%;
    
    
}

.slideshow {
    grid-column: 1/5;
    padding-bottom: 15px;
    
}

.slideshow h1 {
    text-align: center;
    }

.slideshowimg {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.intro {
    padding: 10px;
    max-width: 100%;
    grid-column: 1/5;
    background-color: #242333;
    color: white;
    font-family: "PlayFair";
    text-align: center;
    font-size: medium;
    padding: 35px;
    border-radius: 15px;
}

.personalcards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 20px;
    
}
.personalcards section img {
    width: 90%;
    height: 90%;
}

.personalcards h4 {
    margin: 0;
    text-align: center;
    font-family: "Oswald";
    
}

.personalcards .teton_dam {
    grid-column: 1/2;
    margin-right: 15px;
    text-align: left;
    }

.personalcards .tetonimg {
    border-radius: 15px;
    
}

.personalcards .goldbug {
    grid-column: 2/3;
    margin-right: 15px;
        
}

.personalcards .goldbug .goldimg {
    border-radius: 15px;
     
}

.personalcards .climbing {
    grid-column: 3/4;
    margin-right: 15px;
    border-radius: 15px;
}

.personalcards .climbing .climbimg {
    border-radius: 15px;  
}

.personalcards .ski {
    grid-column: 4/5;
    text-align: right;
}

.personalcards .ski .snowboard {
    border-radius: 15px; 
}

footer img {
    max-width: 100%;
}